#form{
    padding: 20px;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    width: 40%;
    background-color: rgb(226, 145, 70);
}
#head{
    background-color: gray;
    color: beige;
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 0px;
}
h1{
    text-align: center;
    border-style: double;
    border-width: 4px;
}
label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: left;
    width: 200px;
    vertical-align: top;

}
table,th,td {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,td {
    padding: 10px;
  }
  th {
    text-align: left;
  }

  .input-field {
    margin-bottom: 12px;
  }

  .mt {
    margin-top: 40px;
  }

/* Demo for display and visivility concepts */
.Demo{
  background-color: aqua;
}
.Dposition{
    height: auto;
    background-color: wheat;
    width: 100%;
    padding: 10px 60px;
    margin-bottom: 20px;
}
div.relative {
    position: relative;
    left: 30px;
    border: 2px solid #e6779abe;
    width: 50%;
  }
div.static {
    left: 30px;
    position: static;
    border: 2px solid #eaf464;
    width: 50%;
  }

.float{
    height: 150px;
    background-color: lightgreen;
    padding: 10px 40px;
}

.left{
      float: left;
      background-color: lightsalmon;
      width: 100px;
      height: 50px;
      border-radius: 30%;
      text-align: center;
      padding: 10px;
}
.right{
      float: right;
      background-color: lightsalmon;
      width: 100px;
      height: 50px;
      border-radius: 30%;
      text-align: center;
      padding: 10px;
}

.display{
      height: auto;
      margin-bottom: 40px;
      background-color: beige;
      padding: 10px 40px;
}
.visibility{
      height: auto;
      margin-bottom: 40px;
      background-color: wheat;
      padding: 10px 40px;

}
h2.a {
    visibility: visible;
}
  
h2.b {
  border-style: dotted;
  border-color: black;
  border-width: 4px;
  visibility: hidden;
}